* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 20px 40px;
}

#root {
  max-width: 1640px;
  margin: 0 auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  color: rgb(39, 39, 39);
  text-decoration: none;
}

.logo {
  fill: cornflowerblue;
}
.logo:hover {
  fill: rgba(100, 148, 237, 0.582);
}

div.Capa_1 {
  fill: cornflowerblue;
}
